        form {
            border: 3px solid #f1f1f1;
        }

        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
        }

        img.avatar {
            width: 40%;
            border-radius: 50%;
        }

        .container {
			margin-top: 50px;
            padding: 16px;
            width: 400px;
			border: 1px solid #f1f1f0;

        }
		
        span.psw {
            float: right;
            padding-top: 16px;
        }